<ion-header>
  <ion-toolbar>
    <ion-title>view-formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <fieldset>
    <legend>FORMULARIO</legend>
    <form action="ejemplo.php" method="get">
      <p>RFC: <input type="text" style='color:#000000'  name="nombre" size="153" color="black" font="black"></p>
      <p>KEY: <input type="number" size="100" style="color: #000000;"></p>
      <p>Nombre: <input type="text" style='color:#000000'  name="nombre" size="150" color="black" font="black"></p>
      <p>Apellido Materno: <input type="text" style='color:#000000'  name="nombre" size="142" color="black" font="black"></p>
      <p>Apellido Paterno: <input type="text" style='color:#000000'  name="nombre" size="142" color="black" font="black"></p>
      <p>SALARY: <input type="number" size="140" style="color: #000000;"></p>   
      <p>STATUS:</p>
      <p>
        <input type="radio" name="p1" value="1"> BASE
        <input type="radio" name="p1" value="2"> CONFIANZA
      </p>
      <p>ACTIVE:</p>
      <p>
        <input type="radio" name="p1" value="1"> TRUE
        <input type="radio" name="p1" value="2"> FALSE
      </p>
      <p>EMAIL: <input type="text" style='color:#000000'  name="nombre" size="150" color="black" font="black"></p>
      <p>DATE: <input type="date" size="140" style="color: #000000;"></p>   
        <input type="submit" value="Enviar" style="color: #000000">
        <input type="reset" value="Borrar" style="color: #000000">
        <input type="reset" value="Actualizar" style="color: #000000">
    </form>
  </fieldset>
</ion-content>
