<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Employeed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Employeed</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-list *ngFor="let employeed of employeeds">
    <ion-item (click)="view(employeed)" (dblclick)="formulario(employeed)">
      <ion-label>{{employeed.rfc}}</ion-label>
      <ion-label>{{employeed.key}}</ion-label>
      <ion-label>{{employeed.name.firstName}}</ion-label>
      <ion-label>{{employeed.salary}}</ion-label>
      <ion-label>{{employeed.type}}</ion-label>
      <ion-label>{{employeed.active}}</ion-label>
      <ion-label>{{employeed.email}}</ion-label>
      <ion-label>{{employeed.date}}</ion-label> 
  </ion-item>
</ion-list>
</ion-content>
